body {
    background: #d12839;
    background: linear-gradient(180deg, rgba(209, 40, 57, 1) 0%, rgba(171, 176, 174, 0.94) 40%, rgba(255, 255, 255, 1) 60%);
    background-repeat: no-repeat;
    color: #222;
}

/* #imgStat {
    margin: 20px;
    gap: 20px;
} */

.spaceBorder {
    border: 1px solid #222222;
    box-sizing: border-box;
    /* margin: 10px; */
    /* padding: 15px; */
    background-color: #eeeeee;
}

#guesser {
    font-size: 20px;
}

#pokeName {
    background-color: #eeeeee;
}

button {
    border-color: darkred;
    background-color: #dddddd;
    margin-left: 20px;
}

button:hover {
    border-color: crimson;
    background-color: slategrey;
    color: antiquewhite;
}

#reset {
    font-size: 20px;
}

.hide {
    visibility: hidden;
}

.padded {
    padding: 20px;
}

.falseText {
    color: red;
}

.trueText {
    color: green;
}

.giveUpText {
    color: blue;
}

.stat {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 3px;
    padding-right: 6px;
}

.hpStat {

    background-color: lightgreen;
}

.attackStat {

    background-color: palegoldenrod;
}

.defenseStat {

    background-color: orange;
}

.spAttackStat {

    background-color: skyblue;
}

.spDefenseStat {

    background-color: rgba(146, 34, 225, 0.7);
}

.speedStat {

    background-color: palevioletred;
}

@media screen and (max-width: 480px) {
    .statText {
        font-size: 10px;
    }
}
